html {
    margin-left: 80px;
    margin-right: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-zoom: 75%;
    max-zoom: 150%;
}

body {
    display: block;
   
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 28px;
    display: block;

    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.colorslist {
   
    max-width: 100%;
    display: block;
    border: 1px solid black;
    padding: 20px;
    overflow: auto;
    position: relative;
}

.LightBlue {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    background-color: lightblue;
    color: black;

}

.FireBrick{
    display: inline-block;
    width: 32%;
    background-color: #B22222;
    text-align: center;
    color: white;
    margin: 20px auto;
    min-height: 100px;
}

p {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 32%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


}

.DarkViolet {
    display: inline-block;
    width: 32%;
    background-color: darkviolet;
    text-align: center;
    color: white;
    margin: 20px auto;
    min-height: 100px;
}

.Cornsilk {
    display: inline-block;
    width: 32%;

    background-color: cornsilk;
    text-align: center;
    color:black;
    margin: 20px auto;
    min-height: 100px;


}

.fonts{
    height: auto;
    width: cover;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    font-size: medium;
    overflow: auto;
    position: relative;
}


.roboto {
    font-family: 'Roboto';
    display: inline-block;
    width: 45%;
    text-align: left;
}

.plain{
    text-align: left;


}

.Quicksand .bold {
    font-weight: 700;
    text-align: left;

}

.roboto .bold {
    font-weight: 700;
    text-align: left;
   

}
.Manrope .bold {
    font-weight: 700;
    text-align: left;
}

.italic {
    font-style: italic;
    text-align: left;
    
}

.name {
    text-decoration: underline;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.Quicksand {
    font-family: 'Quicksand';
    display: inline-block;
    width: 45%;
    text-align: left;


}

.Manrope {
    font-family: 'Manrope';
    display: inline-block;
    width: 45%;
    text-align: left;
    
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textstyles {
    height: auto;
    width: cover;
    border: 1px solid black;
    padding: 20px;
    display: block;
    margin: 10px auto;

}

.text {
    text-align: left;
}

.colors {
    display: block;
}
